In [1]:
import pandas as pd
cols = ['businessname','practicename']
read_file = pd.read_excel('market.xlsx',usecols= cols)
read_file
from datetime import datetime

In [2]:
read_file

,businessname,practicename
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC
2,HANGER PROSTHETICS & ORTHOTICS INC,HANGER CLINIC
3,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC
4,"SCHECK & SIRESS PROSTHETICS, INC","SCHECK & SIRESS PROSTHETICS, INC."
...,...,...
1001,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248
1002,WALGREEN CO,WALGREENS #6021
1003,APRIA HEALTHCARE LLC,APRIA HEALTHCARE LLC
1004,WALGREEN CO,WALGREENS #6654
1005,WALMART INC,WAL-MART PHARMACY 10-0358

In [3]:
unique = read_file[['businessname','practicename']].drop_duplicates()
unique

,businessname,practicename
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC
2,HANGER PROSTHETICS & ORTHOTICS INC,HANGER CLINIC
4,"SCHECK & SIRESS PROSTHETICS, INC","SCHECK & SIRESS PROSTHETICS, INC."
6,"HEALTH CARE UNLIMITED, INC",CENTURY MEDICAL HOME INFUSION & MED
...,...,...
1000,WALMART INC,WALMART PHARMACY 10-3046
1001,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248
1002,WALGREEN CO,WALGREENS #6021
1004,WALGREEN CO,WALGREENS #6654
1005,WALMART INC,WAL-MART PHARMACY 10-0358

In [5]:
df_unique = pd.DataFrame(unique)

In [7]:
df_unique.rename(columns={'businessname':'Hospital_name','practicename':'Practice_name'},inplace=True)

In [8]:
df_unique

,Hospital_name,Practice_name
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC
2,HANGER PROSTHETICS & ORTHOTICS INC,HANGER CLINIC
4,"SCHECK & SIRESS PROSTHETICS, INC","SCHECK & SIRESS PROSTHETICS, INC."
6,"HEALTH CARE UNLIMITED, INC",CENTURY MEDICAL HOME INFUSION & MED
...,...,...
1000,WALMART INC,WALMART PHARMACY 10-3046
1001,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248
1002,WALGREEN CO,WALGREENS #6021
1004,WALGREEN CO,WALGREENS #6654
1005,WALMART INC,WAL-MART PHARMACY 10-0358

In [9]:
df_unique['Hospital_id'] = range(500,len(df_unique)+500)

In [10]:
df_unique

,Hospital_name,Practice_name,Hospital_id
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,501
2,HANGER PROSTHETICS & ORTHOTICS INC,HANGER CLINIC,502
4,"SCHECK & SIRESS PROSTHETICS, INC","SCHECK & SIRESS PROSTHETICS, INC.",503
6,"HEALTH CARE UNLIMITED, INC",CENTURY MEDICAL HOME INFUSION & MED,504
...,...,...,...
1000,WALMART INC,WALMART PHARMACY 10-3046,1261
1001,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,1262
1002,WALGREEN CO,WALGREENS #6021,1263
1004,WALGREEN CO,WALGREENS #6654,1264
1005,WALMART INC,WAL-MART PHARMACY 10-0358,1265

In [11]:
today = datetime.today().strftime('%Y-%m-%d')

In [12]:
df_unique['created_date'] = today

In [13]:
df_unique

,Hospital_name,Practice_name,Hospital_id,created_date
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,501,2024-02-18
2,HANGER PROSTHETICS & ORTHOTICS INC,HANGER CLINIC,502,2024-02-18
4,"SCHECK & SIRESS PROSTHETICS, INC","SCHECK & SIRESS PROSTHETICS, INC.",503,2024-02-18
6,"HEALTH CARE UNLIMITED, INC",CENTURY MEDICAL HOME INFUSION & MED,504,2024-02-18
...,...,...,...,...
1000,WALMART INC,WALMART PHARMACY 10-3046,1261,2024-02-18
1001,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,1262,2024-02-18
1002,WALGREEN CO,WALGREENS #6021,1263,2024-02-18
1004,WALGREEN CO,WALGREENS #6654,1264,2024-02-18
1005,WALMART INC,WAL-MART PHARMACY 10-0358,1265,2024-02-18

In [25]:
from sqlalchemy import create_engine,Table,Column,String,Integer,Date,MetaData

In [26]:
metadata = MetaData()

In [27]:
engine = create_engine('sqlite:///db_deva.db')

In [28]:
hospital_table = Table(
    'hospital1', metadata,
    Column('Hospital_id', Integer, primary_key=True),
    Column('Hospital_name', String),
    Column('Practice_name',String),
    Column('Create_date', Date)
)

In [29]:
con = engine.connect()

In [30]:
metadata.create_all(engine)

In [34]:
df_unique.to_sql('hospital1',engine, if_exists='replace', index=False)

766

In [35]:
sql_query = 'SELECT * FROM hospital1'
df = pd.read_sql(sql_query, engine)

In [36]:
df

,Hospital_name,Practice_name,Hospital_id,created_date
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,501,2024-02-18
2,HANGER PROSTHETICS & ORTHOTICS INC,HANGER CLINIC,502,2024-02-18
3,"SCHECK & SIRESS PROSTHETICS, INC","SCHECK & SIRESS PROSTHETICS, INC.",503,2024-02-18
4,"HEALTH CARE UNLIMITED, INC",CENTURY MEDICAL HOME INFUSION & MED,504,2024-02-18
...,...,...,...,...
761,WALMART INC,WALMART PHARMACY 10-3046,1261,2024-02-18
762,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,1262,2024-02-18
763,WALGREEN CO,WALGREENS #6021,1263,2024-02-18
764,WALGREEN CO,WALGREENS #6654,1264,2024-02-18
765,WALMART INC,WAL-MART PHARMACY 10-0358,1265,2024-02-18

In [39]:
read_file1 = pd.read_excel('market.xlsx')

In [40]:
df = read_file1[['businessname','practicename','practiceaddress1','practiceaddress2','practicecity','practicestate','practicezip9code','telephonenumber']]

In [41]:
df

,businessname,practicename,practiceaddress1,practiceaddress2,practicecity,practicestate,practicezip9code,telephonenumber
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,308 E OAK ST,NaN,KISSIMMEE,FL,347444537,4078700111
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,3303 N 75TH ST,NaN,SCOTTSDALE,AZ,852516402,4809451929
2,HANGER PROSTHETICS & ORTHOTICS INC,HANGER CLINIC,4543 EMPIRE CT,NaN,FREDERICKSBURG,VA,224081949,5408992655
3,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,694 ESSINGTON RD,NaN,JOLIET,IL,604354902,8157449944
4,"SCHECK & SIRESS PROSTHETICS, INC","SCHECK & SIRESS PROSTHETICS, INC.",1304 E 47TH ST,STE 204,CHICAGO,IL,606534508,3127575270
...,...,...,...,...,...,...,...,...
1001,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,"HATCH PLAZA, ROUTE 25",NaN,PLYMOUTH,NH,32643729,6035363233
1002,WALGREEN CO,WALGREENS #6021,1620 N 59TH AVE,NaN,PHOENIX,AZ,850354985,6238492092
1003,APRIA HEALTHCARE LLC,APRIA HEALTHCARE LLC,2050 VISTA SEAVE 100-110,NaN,SALEM,OR,973021670,5034801100
1004,WALGREEN CO,WALGREENS #6654,149 DEMING ST,NaN,MANCHESTER,CT,60421731,8606441210
1005,WALMART INC,WAL-MART PHARMACY 10-0358,367 W CHERRY ST,NaN,ALMA,AR,729213408,4796324330

In [42]:
sql_query = "SELECT * FROM hospital1"
hosp = pd.read_sql(sql_query, engine)

In [43]:
hosp

,Hospital_name,Practice_name,Hospital_id,created_date
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,501,2024-02-18
2,HANGER PROSTHETICS & ORTHOTICS INC,HANGER CLINIC,502,2024-02-18
3,"SCHECK & SIRESS PROSTHETICS, INC","SCHECK & SIRESS PROSTHETICS, INC.",503,2024-02-18
4,"HEALTH CARE UNLIMITED, INC",CENTURY MEDICAL HOME INFUSION & MED,504,2024-02-18
...,...,...,...,...
761,WALMART INC,WALMART PHARMACY 10-3046,1261,2024-02-18
762,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,1262,2024-02-18
763,WALGREEN CO,WALGREENS #6021,1263,2024-02-18
764,WALGREEN CO,WALGREENS #6654,1264,2024-02-18
765,WALMART INC,WAL-MART PHARMACY 10-0358,1265,2024-02-18

In [45]:
# Assuming 'df' and 'hosp' are DataFrames and you want to perform an inner join
joined_df = pd.merge(df, hosp, left_on=['businessname','practicename'], right_on=['Hospital_name','Practice_name'], how='inner')

In [46]:
joined_df

,businessname,practicename,practiceaddress1,practiceaddress2,practicecity,practicestate,practicezip9code,telephonenumber,Hospital_name,Practice_name,Hospital_id,created_date
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,308 E OAK ST,NaN,KISSIMMEE,FL,347444537,4078700111,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18
1,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,694 ESSINGTON RD,NaN,JOLIET,IL,604354902,8157449944,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18
2,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,8310 MEDICAL PLAZA DRIVE,SUITE C,CHARLOTTE,NC,282626703,7045101300,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18
3,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,265 FERNWOOD AVE,NaN,EDISON,NJ,88373839,7324170480,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18
4,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,35 TOWER CT,STE F,GURNEE,IL,600315712,8476236080,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18
...,...,...,...,...,...,...,...,...,...,...,...,...
1001,WALMART INC,WALMART PHARMACY 10-3046,1421 COFFEE RD,NaN,MODESTO,CA,953553170,2092225616,WALMART INC,WALMART PHARMACY 10-3046,1261,2024-02-18
1002,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,"HATCH PLAZA, ROUTE 25",NaN,PLYMOUTH,NH,32643729,6035363233,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,1262,2024-02-18
1003,WALGREEN CO,WALGREENS #6021,1620 N 59TH AVE,NaN,PHOENIX,AZ,850354985,6238492092,WALGREEN CO,WALGREENS #6021,1263,2024-02-18
1004,WALGREEN CO,WALGREENS #6654,149 DEMING ST,NaN,MANCHESTER,CT,60421731,8606441210,WALGREEN CO,WALGREENS #6654,1264,2024-02-18
1005,WALMART INC,WAL-MART PHARMACY 10-0358,367 W CHERRY ST,NaN,ALMA,AR,729213408,4796324330,WALMART INC,WAL-MART PHARMACY 10-0358,1265,2024-02-18

In [47]:
joined_df['branch_id'] = range(1500,len(joined_df)+1500)

In [50]:
joined_df.rename(columns={'practiceaddress1':'Address',
                          'practiceaddress2':'Address1','practicecity':'City','practicestate':'State',
                          'practicezip9code':'Zipcode','telephonenumber':'Phone','branch_id':'Branch_id'
                         
                         },inplace = True)

In [51]:
joined_df

,businessname,Practice_name,Address,Address1,City,State,Zipcode,Phone,Hospital_name,Practice_name,Hospital_id,created_date,Branch_id
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,308 E OAK ST,NaN,KISSIMMEE,FL,347444537,4078700111,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18,1500
1,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,694 ESSINGTON RD,NaN,JOLIET,IL,604354902,8157449944,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18,1501
2,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,8310 MEDICAL PLAZA DRIVE,SUITE C,CHARLOTTE,NC,282626703,7045101300,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18,1502
3,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,265 FERNWOOD AVE,NaN,EDISON,NJ,88373839,7324170480,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18,1503
4,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,35 TOWER CT,STE F,GURNEE,IL,600315712,8476236080,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,500,2024-02-18,1504
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,WALMART INC,WALMART PHARMACY 10-3046,1421 COFFEE RD,NaN,MODESTO,CA,953553170,2092225616,WALMART INC,WALMART PHARMACY 10-3046,1261,2024-02-18,2501
1002,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,"HATCH PLAZA, ROUTE 25",NaN,PLYMOUTH,NH,32643729,6035363233,"HANNAFORD BROS. CO., LLC",HANNAFORD SUPERMARKET PHARMACY 8248,1262,2024-02-18,2502
1003,WALGREEN CO,WALGREENS #6021,1620 N 59TH AVE,NaN,PHOENIX,AZ,850354985,6238492092,WALGREEN CO,WALGREENS #6021,1263,2024-02-18,2503
1004,WALGREEN CO,WALGREENS #6654,149 DEMING ST,NaN,MANCHESTER,CT,60421731,8606441210,WALGREEN CO,WALGREENS #6654,1264,2024-02-18,2504
1005,WALMART INC,WAL-MART PHARMACY 10-0358,367 W CHERRY ST,NaN,ALMA,AR,729213408,4796324330,WALMART INC,WAL-MART PHARMACY 10-0358,1265,2024-02-18,2505

In [54]:
new_df = joined_df[['Branch_id','Hospital_id','Address','Address1','City','State','Zipcode','Phone']]

In [55]:
new_df

,Branch_id,Hospital_id,Address,Address1,City,State,Zipcode,Phone
0,1500,500,308 E OAK ST,NaN,KISSIMMEE,FL,347444537,4078700111
1,1501,500,694 ESSINGTON RD,NaN,JOLIET,IL,604354902,8157449944
2,1502,500,8310 MEDICAL PLAZA DRIVE,SUITE C,CHARLOTTE,NC,282626703,7045101300
3,1503,500,265 FERNWOOD AVE,NaN,EDISON,NJ,88373839,7324170480
4,1504,500,35 TOWER CT,STE F,GURNEE,IL,600315712,8476236080
...,...,...,...,...,...,...,...,...
1001,2501,1261,1421 COFFEE RD,NaN,MODESTO,CA,953553170,2092225616
1002,2502,1262,"HATCH PLAZA, ROUTE 25",NaN,PLYMOUTH,NH,32643729,6035363233
1003,2503,1263,1620 N 59TH AVE,NaN,PHOENIX,AZ,850354985,6238492092
1004,2504,1264,149 DEMING ST,NaN,MANCHESTER,CT,60421731,8606441210
1005,2505,1265,367 W CHERRY ST,NaN,ALMA,AR,729213408,4796324330

In [56]:
new_df.to_sql('Branch1', con=engine, if_exists='replace', index=False)

1006