In [128]:
import pandas as pd
from sqlalchemy import Table,Column,MetaData,Integer,String,create_engine,Float,ForeignKey,Date
engine = create_engine('sqlite:///scd1.db')
con = engine.connect()
from datetime import datetime
meta = MetaData()

In [129]:
prod = pd.read_sql('product',engine)
prod_fam = pd.read_sql('prod_family',engine)
prod_cat = pd.read_sql('prod_cat',engine)

In [130]:
prod

,prod_id,prod_name,prod_price,prod_cost,Start_date,prod_cat_id
0,1,Blue Ballpoint Pen,1.50,0.75,2024-01-14,1.0
1,2,Mechanical Pencil,1.25,0.60,2024-01-14,2.0
2,3,Spiral Bound Notebook,3.50,1.75,2024-01-14,3.0
3,4,To Kill a Mockingbird,10.99,6.50,2024-01-14,4.0
4,5,Permanent Marker (Black),2.99,1.50,2024-01-14,5.0
5,6,Yellow Highlighter,1.25,0.60,2024-01-14,6.0
6,7,"Legal Pad (Yellow, 50 Sheets)",1.99,0.90,2024-01-14,7.0
7,8,Steve Jobs: The Biography,14.99,8.50,2024-01-14,8.0

In [131]:
prod.loc[prod['prod_id'] == 8,['prod_price','Start_date']] = [18.99,datetime.now().date()]
prod['Start_date'] = pd.to_datetime(prod['Start_date']).dt.date

In [132]:
prod

,prod_id,prod_name,prod_price,prod_cost,Start_date,prod_cat_id
0,1,Blue Ballpoint Pen,1.50,0.75,2024-01-14,1.0
1,2,Mechanical Pencil,1.25,0.60,2024-01-14,2.0
2,3,Spiral Bound Notebook,3.50,1.75,2024-01-14,3.0
3,4,To Kill a Mockingbird,10.99,6.50,2024-01-14,4.0
4,5,Permanent Marker (Black),2.99,1.50,2024-01-14,5.0
5,6,Yellow Highlighter,1.25,0.60,2024-01-14,6.0
6,7,"Legal Pad (Yellow, 50 Sheets)",1.99,0.90,2024-01-14,7.0
7,8,Steve Jobs: The Biography,18.99,8.50,2024-02-21,8.0

In [133]:
prod.to_sql('product',engine,index=False,if_exists='replace')

8

In [134]:
merged_df = pd.merge(prod,prod_cat,on = 'prod_cat_id',how = 'inner')
merged_df = pd.merge(merged_df,prod_fam,on = 'prod_fam_id',how = 'inner')

In [138]:
merged_df[['prod_id','prod_name','prod_price','prod_cat_desc','prod_fam_desc']].to_sql('prod_dim_scd1',engine,index=False,if_exists='replace')

8